// ===================================
//   game
// ===================================

.game{
    @include absolute(0, 0, 0, 0);
    width: 335px;
    height: 335px;
    margin: auto;
}

.username{
    @include absolute(50px, 0, '', 0);
    text-align: center;
    font-size: 20px;

    strong{
        font-weight: bold;
    }
}

.result{
    display: none;
    @include absolute(0, 0, 0, 0);
    height: 2.5em;
    line-height: 2.5em;
    margin: auto;
    text-align: center;
    font-size: 56px;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);

    &.is_show{
        display: block;
    }
}

.qr{
    display: none;
    @include absolute(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

    &.is_show{
        display: block;
    }

    &:before{
        @include absolute(50%, 0, '', 0);
        color: #fff;
        text-align: center;
        font-size: 20px;
        transform: translateY(-220px);
        white-space: pre;
        content: "対戦相手の方がこのQRコードを\A読みこむとゲーム開始します。";
    }

    img{
        @include absolute(50%, '', '', 50%);
        transform: translate(-50%, -50%);
    }
}
