// ===================================
//   game
// ===================================

.game{
    @include absolute(0, 0, 0, 0);
    width: 335px;
    height: 335px;
    margin: auto;
}

.result{
    display: none;
    @include absolute(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

    &.is_show{
        display: block;
    }
}

.result{
    @include absolute(0, 0, 0, 0);
    height: 2.5em;
    line-height: 2.5em;
    margin: auto;
    text-align: center;
    font-size: 56px;
    letter-spacing: 1px;
    color: #fff;
}
